{
  "extends": "eslint:recommended",

  "env": {
    "node": true
  },

  "globals": {
    "Promise": true,
    "require": true
  },

  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },

  "rules": {
    "no-var": 2,
    "no-console": 0
  }
}
